@import url('https://fonts.googleapis.com/css2?family=Montserrat@1&display=swap');

*{
    margin: 0;
    padding: 0;
}


nav{
    background-color: rgb(28, 6, 49);
    color: white;
    height: 8vh;
    font-size: 3vh;
    display: flex;
    align-items: center;
    padding: 0 1.5vw;
    font-family: 'Montserrat', sans-serif;
}

nav ul{
    list-style-type: none;
}

.gameContainer{
    display: flex;
    justify-content: center;
    margin-top: 10vh;
}

.container{
    display: grid;
    grid-template-rows: repeat(3,10vw);
    grid-template-columns: repeat(3,10vw);
    font-family: 'Montserrat', sans-serif;
    position: relative;
}

.line{
    background-color: rgb(164, 75, 227);
    position: absolute;
    width: 0;
    height: 2px;
    transition: width 1s ease-in-out;
}

.box{
    border: 0.2vw solid black;
    font-size: 7.5vw;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box:hover{
    background-color: rgb(243, 233, 250);
}

.gameInfo{
    padding: 0 3vw;
    text-align: center;
}

.gameInfo h1{
    font-size: 4vh;
    margin-bottom: 4vh;
}

.imgbox img{
    width: 0;
    margin-top: 2vh;
    transition: width 0.75s ease-in-out;
}

.bl-0{
    border-left: 0;
}

.br-0{
    border-right: 0;
}

.bt-0{
    border-top: 0;
}

.bb-0{
    border-bottom: 0;
}

.btn{
    margin: 0 2vh;
    padding: 0.25vh 1vh;
    border-radius: 1vh;
    cursor: pointer;
    font-size: 2vh;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.btn:hover{
    background-color: rgb(243, 233, 250);
}


@media screen and (max-width:800px){
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 10vh;
    }

    .gameInfo h1{
        font-size: 6vh;
    }
    .container{
        grid-template-rows: repeat(3,20vw);
        grid-template-columns: repeat(3,20vw);
    }
    .line{
        width: 60vw;
    }
}